/**COLORS**/

$strong-cyan: #26baa4;
$light-blue: #6173ff;
$dark-gray: #4c545d;
$gray-blue: hsl(201, 11%, 66%);

//**FONT**//
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
